/* line 1, ../sass/partials/_variables.scss */
.big-box {
  background-color: yellow;
  padding: 10px;
}

/* line 1, ../sass/partials/_layout.scss */
body {
  font-family: sans-serif;
  background-color: white;
}

/* line 6, ../sass/partials/_layout.scss */
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 10px;
}
/* line 14, ../sass/partials/_layout.scss */
.grid-layout .grid-item {
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #929796;
  background-color: #333;
  border-radius: 5px;
}
/* line 23, ../sass/partials/_layout.scss */
.grid-layout .span-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}
/* line 28, ../sass/partials/_layout.scss */
.grid-layout .span-3 {
  grid-column-end: span 3;
  grid-row-end: span 4;
}

/*
--------------------------------------------------------------------
Flex-1
--------------------------------------------------------------------
*/
/* line 7, ../sass/partials/_flex.scss */
nav.container-1 {
  display: flex;
  justify-content: space-between;
}
/* line 11, ../sass/partials/_flex.scss */
nav.container-1 > div {
  flex: 1;
}
/* line 15, ../sass/partials/_flex.scss */
nav.container-1 div.block {
  padding: 10px;
}
/* line 18, ../sass/partials/_flex.scss */
nav.container-1 div.block-1 {
  background-color: yellow;
}
/* line 21, ../sass/partials/_flex.scss */
nav.container-1 div.block-2 {
  background-color: blue;
}
/* line 24, ../sass/partials/_flex.scss */
nav.container-1 div.block-3 {
  background-color: red;
}

/* line 29, ../sass/partials/_flex.scss */
nav.container-2 {
  display: flex;
  justify-content: space-between;
  /* push item (and everything after) to the right */
}
/* line 34, ../sass/partials/_flex.scss */
nav.container-2 .push-right {
  margin-left: auto;
}
/* line 37, ../sass/partials/_flex.scss */
nav.container-2 div.block {
  padding: 10px;
}
/* line 40, ../sass/partials/_flex.scss */
nav.container-2 div.block-1 {
  background-color: yellow;
}
/* line 43, ../sass/partials/_flex.scss */
nav.container-2 div.block-2 {
  background-color: blue;
}
/* line 46, ../sass/partials/_flex.scss */
nav.container-2 div.block-3 {
  background-color: red;
}

/* line 51, ../sass/partials/_flex.scss */
nav.container-3 {
  display: flex;
  justify-content: space-between;
  /* Makes one of the cols fluid, others fixed */
}
/* line 56, ../sass/partials/_flex.scss */
nav.container-3 .fluid-section {
  flex: 1;
}
/* line 60, ../sass/partials/_flex.scss */
nav.container-3 div.block {
  padding: rem-calc(20);
}
/* line 63, ../sass/partials/_flex.scss */
nav.container-3 div.block-1 {
  background-color: yellow;
}
/* line 66, ../sass/partials/_flex.scss */
nav.container-3 div.block-2 {
  background-color: blue;
}
/* line 69, ../sass/partials/_flex.scss */
nav.container-3 div.block-3 {
  background-color: red;
}

@media screen and (min-width: 640px) {
  /* line 74, ../sass/partials/_flex.scss */
  .flex-container {
    display: flex;
    /* Something happening at 640 and above */
  }
}
@media screen and (max-width: 700px) {
  /* line 74, ../sass/partials/_flex.scss */
  .flex-container {
    /* Something happening at 700 and below */
  }
}
