body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    border: 1px solid #000000;
    color: #ffffff;
}

main {
    background: #000000;
}

.header {
    background: #03a9f4;
}

.hero {
    background: #d22b1f;
}

.content {
    background: #129a22;
}

.sidebar {
    border: 1px solid #000000;
    background: #673ab7;
}

.footer {
    border: 1px solid #000000;
    background: #616161;
}

@media screen and (min-width: 640px){
    .flex-container {
        display: flex;
    }

    .content {
        flex: 1; /* Fluid width */
    }

    .sidebar {
        flex: 0 1 300px; /* Sidebar will always be 300px, and the rest of the space will be distributed to the Content section */
    }
}

.wrapper {
    /* max width for desktop, plus centers it */
    margin: auto;
    max-width: 1200px;
}
